<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sinnau Chat</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="chat-container">
        <h1>Sinnau Chat</h1>
        <div id="messageList" class="message-list"></div>
        <div class="input-container">
            <input type="text" id="messageInput" placeholder="메시지를 입력하세요...">
            <button id="sendButton">전송</button>
        </div>
    </div>
    <script src="/js/app.js"></script>
</body>
</html> 